<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">一群来自QS Top50/C9高校的博士后/导师, 头部人工智能研究院研究员, 工业界大咖, 助力广大学弟学妹迈入人工智能领域, 开启科研生涯, 迎接美好前程.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
